# Node
node_modules/

# Build output
dist/
build/
out/
.next/

# Vercel
.vercel/

# Runtime env
.env
.env.*

# Logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace

# macOS
.DS_Store

# Coverage
coverage/

# TypeScript
*.tsbuildinfo
